body {
    background: linear-gradient(to bottom, white, rgb(131, 203, 255));
    font: 20px "Gill Sans", Verdana, sans-serif;
    line-height: 1.8;
    color: #000000;
    background-color: rgb(97, 135, 202);
    padding-top: 0px !important;
  }

.navbar, .footer {
    background: transparent;
}

.footer {
    margin-top: auto;
    text-align: center;
    padding: 40px;
    background: transparent;
}

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #000000;
}

.container-fluid {
  padding: 10px;
  /*padding-bottom: 70px;*/
}

nav {
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  background: transparent;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;
}

.nav-link {
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #000000;
  color: #EEE7E8;
  transition: 0.3s;
}

.nav-link:hover {
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #ffffff;
  transition: 0.2s;
}

#btn {
  border: 3px outset #FFFFFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #a3a3a3;
  color: #000000;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #FFFFFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #a3a3a3;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: right;
}

code {
  background-color: #2d2b33;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.link-container a {
  display: inline-block;
  transform: rotate(-15deg);
  margin: 10px 0;
  position: relative;
  text-decoration: none;
  transition: transform 0.3s, font-size 0.3s; /* Smooth transition */
}

.link-container a:hover {
  font-size: calc(100% + 15px); /* Increase font size by 5px */
  transform: rotate(-10deg); /* Change angle on hover */
}